# SERIES

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']

In [3]:
mylist = [10,20,30]

In [4]:
arr= np.array(mylist)

In [5]:
arr

array([10, 20, 30])

In [6]:
# creating a dictionary
d= {'a':10, 'b':20, 'c':30}

In [7]:
pd.Series(data=mylist)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
pd.Series(arr,index=labels)

a    10
b    20
c    30
dtype: int32

In [11]:
pd.Series(data=[10,'a',4.4])

0     10
1      a
2    4.4
dtype: object

In [12]:
pd.Series(data=['b','a','c'])

0    b
1    a
2    c
dtype: object

In [17]:
ser1= pd.Series([1,3,4],index=['USA','INDIA','FRANCE'])

In [18]:
ser1

USA       1
INDIA     3
FRANCE    4
dtype: int64

In [19]:
ser1['INDIA']

3

In [22]:
ser2=pd.Series([1,4,6,8],index=['USA','INDIA','FRANCE','GERMANY'])

In [23]:
ser2

USA        1
INDIA      4
FRANCE     6
GERMANY    8
dtype: int64

In [24]:
ser1+ser2

FRANCE     10.0
GERMANY     NaN
INDIA       7.0
USA         2.0
dtype: float64