In [1]:
from datetime import datetime

In [9]:
my_year= 2021
my_month= 1
my_date_today= 2
my_hour= 14
my_min= 22
my_sec= 33

In [11]:
my_date= datetime(my_year,my_month,my_date_today,my_hour,my_min,my_sec)

In [12]:
my_date

datetime.datetime(2021, 1, 2, 14, 22, 33)

In [14]:
my_days= datetime(my_year,my_month,my_date_today)

In [15]:
my_days

datetime.datetime(2021, 1, 2, 0, 0)

# Attribute

In [16]:
my_date.day

2

In [18]:
my_date.hour

14

# Numpy datetime

In [19]:
import numpy as np

In [20]:
np.array(['2020-03-15','2020-03-16','2020-03-17'])

array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='<U10')

In [22]:
np.array(['2020-03-15','2020-03-16','2020-03-17'],dtype='datetime64')

array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[D]')

### to get only the Year use datetime64[Y]

In [24]:
np.array(['2020-03-15','2020-03-16','2020-03-17'],dtype='datetime64[Y]')

array(['2020', '2020', '2020'], dtype='datetime64[Y]')

In [25]:
np.array(['2020-03-15','2020-03-16','2020-03-17'],dtype='datetime64[h]')

array(['2020-03-15T00', '2020-03-16T00', '2020-03-17T00'],
      dtype='datetime64[h]')

### Using an array to get a range of dates

In [28]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [32]:
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [34]:
np.arange('2018-06-01','2018-06-23',dtype='datetime64')

array(['2018-06-01', '2018-06-02', '2018-06-03', '2018-06-04',
       '2018-06-05', '2018-06-06', '2018-06-07', '2018-06-08',
       '2018-06-09', '2018-06-10', '2018-06-11', '2018-06-12',
       '2018-06-13', '2018-06-14', '2018-06-15', '2018-06-16',
       '2018-06-17', '2018-06-18', '2018-06-19', '2018-06-20',
       '2018-06-21', '2018-06-22'], dtype='datetime64[D]')

In [36]:
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [37]:
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64[h]')

array(['2018-06-01T00', '2018-06-01T07', '2018-06-01T14', '2018-06-01T21',
       '2018-06-02T04', '2018-06-02T11', '2018-06-02T18', '2018-06-03T01',
       '2018-06-03T08', '2018-06-03T15', '2018-06-03T22', '2018-06-04T05',
       '2018-06-04T12', '2018-06-04T19', '2018-06-05T02', '2018-06-05T09',
       '2018-06-05T16', '2018-06-05T23', '2018-06-06T06', '2018-06-06T13',
       '2018-06-06T20', '2018-06-07T03', '2018-06-07T10', '2018-06-07T17',
       '2018-06-08T00', '2018-06-08T07', '2018-06-08T14', '2018-06-08T21',
       '2018-06-09T04', '2018-06-09T11', '2018-06-09T18', '2018-06-10T01',
       '2018-06-10T08', '2018-06-10T15', '2018-06-10T22', '2018-06-11T05',
       '2018-06-11T12', '2018-06-11T19', '2018-06-12T02', '2018-06-12T09',
       '2018-06-12T16', '2018-06-12T23', '2018-06-13T06', '2018-06-13T13',
       '2018-06-13T20', '2018-06-14T03', '2018-06-14T10', '2018-06-14T17',
       '2018-06-15T00', '2018-06-15T07', '2018-06-15T14', '2018-06-15T21',
       '2018-06-16T04', '2018-06-16T11', '2018-06-16T18', '2018-06-17T01',
       '2018-06-17T08', '2018-06-17T15', '2018-06-17T22', '2018-06-18T05',
       '2018-06-18T12', '2018-06-18T19', '2018-06-19T02', '2018-06-19T09',
       '2018-06-19T16', '2018-06-19T23', '2018-06-20T06', '2018-06-20T13',
       '2018-06-20T20', '2018-06-21T03', '2018-06-21T10', '2018-06-21T17',
       '2018-06-22T00', '2018-06-22T07', '2018-06-22T14', '2018-06-22T21'],
      dtype='datetime64[h]')

In [38]:
np.arange('2018','2023',dtype='datetime64[Y]')

array(['2018', '2019', '2020', '2021', '2022'], dtype='datetime64[Y]')

# Pandas DateTime Index

In [39]:
import pandas as pd

In [40]:
pd.date_range('2021-01-01',periods=7,freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range('2021-01-01',periods=7,freq='Y')

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [42]:
pd.date_range('Jan 01, 2018',periods=7,freq='Y')

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31', '2023-12-31', '2024-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Formatting parameter for date time. 

### To use a required format than a  genralised format

In [43]:
pd.to_datetime(['1/2/2018','Jan 03, 2018'])

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [44]:
pd.to_datetime(['1/2/2018','1/3/2018'])

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [45]:
pd.to_datetime(['2/1/2018','3/1/2018'])

DatetimeIndex(['2018-02-01', '2018-03-01'], dtype='datetime64[ns]', freq=None)

# Specialised DateTime Object

## for customised date_time format:
## format='%d/%m/%Y

In [48]:
pd.to_datetime(['2/1/2018','3/1/2018'],format='%d/%m/%Y')

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [49]:
pd.to_datetime(['2--1--2018','3--1--2018'],format='%d--%m--%Y')

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

# Pandas DateTime Analysis

In [50]:
data= np.random.randn(3,2)
cols= ['A','B']
print(data)

[[-0.07982275  0.915374  ]
 [ 0.00390919  0.29500132]
 [ 0.39731056 -0.20876966]]

In [52]:
idx= pd.date_range('2020-01-01',periods=3,freq='D')
df= pd.DataFrame(data,index=idx,columns=cols)

In [53]:
df

                   A         B
2020-01-01 -0.079823  0.915374
2020-01-02  0.003909  0.295001
2020-01-03  0.397311 -0.208770

In [54]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq='D')

In [55]:
df.index.max()

Timestamp('2020-01-03 00:00:00', freq='D')

In [56]:
df.index.argmax()

2

In [57]:
df.index.min()

Timestamp('2020-01-01 00:00:00', freq='D')

In [58]:
df.index.argmin()

0